<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>전시대신청</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap">
    <link rel="stylesheet" href="/static/style.css">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            table-layout: fixed;
            width: 100px;
        }
        th, td {
            padding: 5px;
            text-align: right;
            table-layout: fixed;
            width: 100px;
        }
    </style>
</head>
<body onload="loadTableData()">
    <section class ="container text-center">
        <h1>전시대 신청</h1>
        <table>
            <tbody>
                <tr>
                    <td id="cell_1_1">
                        <button class="apply-btn" onclick="apply(this.parentElement)">신청</button>
                    </td>
                    <td id="cell_1_2">
                        <button class="apply-btn" onclick="apply(this.parentElement)">신청</button>
                    </td>
                    <td id="cell_1_3">
                        <button class="apply-btn" onclick="apply(this.parentElement)">신청</button>
                    </td>
                    <td id="cell_1_4">
                        <button class="apply-btn" onclick="apply(this.parentElement)">신청</button>
                    </td>
                </tr>
                <tr>
                    <td id="cell_2_1">
                        <button class="apply-btn" onclick="apply(this.parentElement)">신청</button>
                    </td>
                    <td id="cell_2_2">
                        <button class="apply-btn" onclick="apply(this.parentElement)">신청</button>
                    </td>
                    <td id="cell_2_3">
                        <button class="apply-btn" onclick="apply(this.parentElement)">신청</button>
                    </td>
                    <td id="cell_2_4">
                        <button class="apply-btn" onclick="apply(this.parentElement)">신청</button>
                    </td>
                </tr>
                <tr>
                    <td id="cell_3_1">
                        <button class="apply-btn" onclick="apply(this.parentElement)">신청</button>
                    </td>
                    <td id="cell_3_2">
                        <button class="apply-btn" onclick="apply(this.parentElement)">신청</button>
                    </td>
                    <td id="cell_3_3">
                        <button class="apply-btn" onclick="apply(this.parentElement)">신청</button>
                    </td>
                    <td id="cell_3_4">
                        <button class="apply-btn" onclick="apply(this.parentElement)">신청</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</body>


