<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>날짜선택</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-datepicker.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap-datepicker.js') }}"></script>

</head>
<body class ="container">
    <section class ="container text-center">
        <div class="text-center mx-auto">
            <h1 class ="container"> 날짜선택 </h1>
            <div class ="container_1">
                <input type="text" class="datepicker">
                <button class="btn btn-primary" onclick="goToSelectedDate('{{ username }}')">선택</button>
            </div>
        </div>

        <script>
            $(document).ready(function() {
                var datePicker = $('.datepicker');
                datePicker.datepicker({
                    startDate: 'd',
                    endDate: '+2d',
                    autoclose: false,
                    orientation: 'bottom',
                    format: 'yyyy-mm-dd',

                    onSelect: function(dateText, inst) {
                        datePicker.val(dateText);
                    }
                });

                datePicker.datepicker('show');
            });

            function goToSelectedDate(username) {
                var selectedDate = $('.datepicker').datepicker('getDate');
                if (selectedDate) {
                    var year = selectedDate.getFullYear();
                    var month = selectedDate.getMonth() + 1;
                    var day = selectedDate.getDate();
                    var selectedDateString = year + '-' + month + '-' + day;
                    var deadline = new Date(selectedDate);
<!--                    #UTC시간으로 비교하기때문에 데드라인을 원하는 시간에서+9-->
                    deadline.setHours(28, 0, 0, 0);
                    var deadlineString = deadline.toISOString();
                    window.location.href = '/booking/' + username + '?date=' + selectedDateString + '&deadline=' + deadlineString;
                }
            }

        </script>
    </section>
</body>
</html>
