<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3, user-scalable=yes">
    <title>전시대 날짜별 신청</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-datepicker.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap-datepicker.js') }}"></script>
   <script>
           function formatDate(date) {
                const monthNames = ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"];
                const dayNames = ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"];
                const day = date.getDate();
                const monthIndex = date.getMonth();
                const year = date.getFullYear();
                const dayOfWeekIndex = date.getDay();

                return `Today: ${monthNames[monthIndex]}${day}일 ${dayNames[dayOfWeekIndex]}`;
           }
           function getDayOfWeek(date) {
                const dayNames = ["일", "월", "화", "수", "목", "금", "토"];
                const dayOfWeekIndex = date.getDay();
                return dayNames[dayOfWeekIndex];
            }

            function createBoard(dayOfWeek) {
                const username = '{{ username }}';
                const isOverseer = overseerList.includes(username);
                const board = `
                    <div class="${dayOfWeek}-board">
                        <h3>${dayOfWeek}요일</h3>
                        <br><br>
                        <div class="comment-section">
                            <div class ="lb_1">
                                <label for="${dayOfWeek}-comment">공지:</label>
                                <span id="${dayOfWeek}-notice"></span>
                            </div>
                            <br><br>
                            <div class ="input_t"${ !isOverseer ? 'style="display: none;"' : ''}>
                                <input type="text" id="${dayOfWeek}-comment" name="${dayOfWeek}-comment" placeholder="간단한 요일 전체공지를 작성할 수 있습니다.">
                                <button type="button" onclick="submitComment('${dayOfWeek}')">등록</button>
                            </div>
                        </div>
                        <br><br><br><br>
                        <div class="row">
                            ${createSlots(dayOfWeek)}
                        </div>
                    </div>
                `;

                return board;
            }

            function createSlots(dayOfWeek) {
                const slotNames = {
                    "화": ["10~12시", "12~2시", "2~4시", "7~9시"],
                    "목": ["12~2시", "2~4시", "7~9시"],
                    "금": ["10~12시"],
                    "토": ["1~3시(마두)"],
                    "일": ["1시반~3시반"]
                };

                let slots = '';
                for (let i = 0; i < slotNames[dayOfWeek].length; i++) {
                    slots += createSlot(slotNames[dayOfWeek][i],dayOfWeek);
                }

                return slots;
            }


           function createSlot(slotName, dayOfWeek) {
                const username = '{{ username }}';
                const isOverseer = overseerList.includes(username);
                const slotId = dayOfWeek.slice(0, 1).toLowerCase() + slotName.replace('~', '').replace('시', '').replace(/ /g, '').replace('(', '_').replace(')', '_');
                const slot = `
                    <div class="slot-container">
                        <div class="slot-checkbox" ${ !isOverseer ? ' style="display: none;"' : ''}>
                            <input type="checkbox" class="slot-toggle" id="${slotId}-checkbox" data-slot-id="${slotId}">
                            <label for="${slotId}-checkbox">신청 마감</label>
                        </div>
                        <br><br>
                        <div class="slot" data-slot="${slotId}">
                            <div class="slot-title">${slotName}</div>
                            <br><br><br><br><br><br><br><br>

                            <div class="applicants" id="${slotId}-applicants"></div>
                            <br><br><br><br><br><br><br><br>
                            <div class="slot-button"><button type="button" class="btn btn-primary">신청/취소</button></div>
                            <br><br>
                        </div>
                        <div class="announcement-label">
                            <div class="grid_label">
                                ${Array.from({ length: 15 }, (_, index) => `
                                    <label id="label-${slotId}-${index}" class="announcement-label-item"></label>
                                `).join('')}
                            </div>
                        </div>
                        <br><br><br><br>
                        <div class="slot-writer">
                            <label id="label-${slotId}-writer">작성자:</label>
                        </div>
                        <br><br><br><br>
                        <div class="announcement-section" ${ !isOverseer ? 'style="display: none;"' : ''}>
                            <div class="grid">
                                ${Array.from({ length: 15 }, (_, index) => `
                                    <textarea id="input-${slotId}-${index}" class="announcement-input" rows="1" cols="20"></textarea>
                                `).join('')}
                            </div>
                            <br><br><br><br>
                            <button type="button" class="btn btn-secondary announce-btn">공지하기</button>
                            <button type="button" class="btn btn-secondary import-btn">가져오기</button><br><br><br><br>
                            <div class ="lb_1">
                                <label id="missing-${slotId}">누락:</label><br>
                            </div>
                        </div>
                    </div>
                `;
                return slot;
            }
            function loadNotices(slotId) {
                $.post('/get_notices', { slot: slotId }, function (response) {
                    const notice_contents = response.notice_contents;
                    let anyContentPresent = false;

                    for (let i = 0; i < notice_contents.length; i++) {
                        $(`#label-${slotId}-${i}`).text(notice_contents[i]);
                        if (notice_contents[i]) {
                            anyContentPresent = true;
                        }
                    }

                    $.post('/get_writer', { slot: slotId }, function (response) {
                        const username = response.writer;

                        if (anyContentPresent) {
                            $(`#label-${slotId}-writer`).text("작성자: " + username);
                        } else {
                            $(`#label-${slotId}-writer`).text("작성자: ");
                        }
                    });
                });
            }
            function submitComment(dayOfWeek) {
                const commentInput = document.getElementById(`${dayOfWeek}-comment`);
                const comment = commentInput.value;

                
                $.ajax({
                    url: '/save_notice',
                    method: 'POST',
                    data: {
                        day_of_week: dayOfWeek,
                        notice: comment
                    },
                    success: function (response) {
                        alert(response.message);
                        commentInput.value = '';
                        fetchNotice(dayOfWeek);

                    },
                    error: function (error) {
                        console.log(error);
                        alert('공지 저장에 실패했습니다.');
                    }
                });
            }

            function fetchNotice(dayOfWeek) {
                $.ajax({
                    url: '/get_notice',
                    method: 'GET',
                    data: { day_of_week: dayOfWeek },
                    success: function(response) {
                        const noticeElement = document.getElementById(`${dayOfWeek}-notice`);
                        if (noticeElement) {
                            noticeElement.innerText = response.notice || " ";
                        } 
                    },
                    error: function(error) {
                        alert('공지를 불러오는 데 실패했습니다.');
                    }
                });
            }



            function updateBoard(date) {
                const selectedDate = new Date(date);
                const dayOfWeek = getDayOfWeek(selectedDate);

                if (dayOfWeek === "화" || dayOfWeek === "목" || dayOfWeek === "금" || dayOfWeek === "토" || dayOfWeek === "일") {
                    const board = createBoard(dayOfWeek);
                    $('#board-container').html(board);
                } else {
                    $('#board-container').html(`<div style="text-align: center;"><p>${dayOfWeek}요일</p><p>전시대 계획이 없습니다.</p></div>`);
                }
            }
       
       
            let overseerList = [];
            $(document).ready(function () {


                $.ajax({
                  url: '/get_overseer_list',
                  method: 'GET',
                  success: function (data) {
                    overseerList = data.overseer_list;
                  }
                });

                let currentDay = null;
                const today = new Date();
                const todayText = formatDate(today);
                $('#date-title').text(todayText);

                $('#datepicker').datepicker({
                    startDate: 'd',
                    endDate: '+6d',
                    format: 'yyyy-mm-dd',
                    autoclose: false,
                    inline: true
                }).on('changeDate', function (e) {
                    const selectedDate = e.format('yyyy-mm-dd');
                    const day = new Date(selectedDate).getDay();
                    const dayNames = ['일', '월', '화', '수', '목', '금', '토']
                    currentDay = dayNames[day];
                    fetchNotice(currentDay)

                    let slotIds = [];

                    updateBoard(selectedDate);
                    $('.slot').each(function () {
                        const slotId = $(this).data('slot');
                        loadNotices(slotId);
                    });

                    if (currentDay === '화') {
                        slotIds = ['화1012', '화122', '화24', '화79'];
                    }  else if (currentDay === '목') {
                        slotIds = ['목122', '목24', '목79'];
                    }  else if (currentDay === '금') {
                        slotIds = ['금1012'];
                    }  else if (currentDay === '토') {
                        slotIds = ['토1012_웨돔_','토1012_마두_', '토13_마두_', '토35_마두_'];
                    }  else if (currentDay === '일') {
                        slotIds = ['일1반3시반'];
                    }
                    if (slotIds.length > 0) {
                        $.ajax({
                            url: '/update',
                            method: 'POST',
                            data: {
                                username: '{{ username }}',
                                day: currentDay,
                            },
                            success: function (response) {
                                for (let i = 0; i < slotIds.length; i++) {
                                    const names = response[`names${i + 1}`];
                                    const namesStr = names.join(',  ');
                                    $(`.slot[data-slot='${slotIds[i]}'] .applicants`).text(namesStr);
                                }

                            }
                        });
                    }


                    $.ajax({
                        url: '/get_disabled_slots',
                        method: 'GET'
                    }).done(function(response) {
                        const disabledSlotIds = response.disabled_slot_ids;
                        for (const slotId of disabledSlotIds) {
                            const $slotContainer = $(`.slot[data-slot="${slotId}"]`).closest('.slot-container');
                            $slotContainer.addClass('disabled');
                            $slotContainer.find('.slot-toggle').prop('checked', true);
                        }
                    }).fail(function(error) {
                        console.log(error);
                    });
                });
                document.querySelectorAll('button[type="button"]').forEach((button) => {
                    button.addEventListener('click', (event) => {
                        const dayOfWeek = event.target.parentElement.parentElement.parentElement.id;
                        submitComment(dayOfWeek);
                    });
                });

                $('body').on('change', '.slot-toggle', function() {
                    const slotId = $(this).data('slot-id');
                    const $slotContainer = $(this).closest('.slot-container');
                    const isChecked = $(this).is(':checked');
                    if (isChecked) {
                        $slotContainer.addClass('disabled');
                    } else {
                        $slotContainer.removeClass('disabled');
                    }
                    $.ajax({
                        url: '/update_disabled_slot',
                        method: 'POST',
                        data: {
                            slot_id: slotId,
                            is_disabled: isChecked
                        }
                    }).done(function(response) {
                        console.log(response.message);
                    }).fail(function(error) {
                        console.log(error);
                    });
                });


                $('body').on('click', '.announce-btn', function () {
                    const username = '{{ username }}';
                    const $slotContainer = $(this).closest('.slot-container');
                    const $slot = $slotContainer.find('.slot');
                    const slotId = $slot.data('slot');
                    const contents = [];
                    anyContentPresent = false;

                    for (let i = 0; i < 15; i++) {
                        const content = $(`#input-${slotId}-${i}`).val();
                        contents.push(content);
                        if (content.trim() !== '') {
                            anyContentPresent = true;
                        }
                    }

                    $.post('/notice', { 'contents[]': contents, slot: slotId, writer: username}, function (response) {
                        if (response.message === '공지가 등록되었습니다.') {
                            for (let i = 0; i < 15; i++) {
                                $(`#label-${slotId}-${i}`).text(contents[i]);
                            }
                            loadNotices(slotId)
                            $(`#missing-${slotId}`).text(`누락: ${response.missing}`);
                        }
                    });
                });
                
                $('body').on('click', '.import-btn', function () {
                    const $slotContainer = $(this).closest('.slot-container');
                    const $slot = $slotContainer.find('.slot');
                    const slotId = $slot.data('slot');
                    const contents = [];

                    for (let i = 0; i < 15; i++) {
                        const content = $(`#label-${slotId}-${i}`).text();
                        contents.push(content);
                    }
                    console.log(contents)
                    for (let i = 0; i < 15; i++) {
                                $(`#input-${slotId}-${i}`).val(contents[i]);
                            }

                });
                

                $('body').on('click', '.btn-primary', function () {
                    const $slotContainer = $(this).closest('.slot-container');
                    const $slot = $slotContainer.find('.slot');
                    const slot = $slot.data('slot');

                    const selectedDay = currentDay;

                    let slotIds = [];

                    if (currentDay === '화') {
                        slotIds = ['화1012', '화122', '화24', '화79'];
                    } else if (currentDay === '목') {
                        slotIds = ['목122', '목24', '목79'];
                    } else if (currentDay === '금') {
                        slotIds = ['금1012'];
                    } else if (currentDay === '토') {
                        slotIds = ['토1012_웨돔_','토1012_마두_', '토13_마두_', '토35_마두_'];
                    }else if (currentDay === '일') {
                        slotIds = ['일1반3시반'];
                    }
                    $.ajax({
                        url: '/apply',
                        method: 'POST',
                        data: {
                            username: '{{ username }}',
                            slot: slot,
                            day: selectedDay,
                            slot_name: slot
                        },
                        success: function (response) {
                            for (let i = 0; i < slotIds.length; i++) {
                                const names = response[`names${i + 1}`];
                                const namesStr = names.join(', ');
                                $(`.slot[data-slot='${slotIds[i]}'] .applicants`).text(namesStr);
                            }
                        },
                        error: function (xhr, status, error) {
                                        $.ajax({
                                            url: '/cancel',
                                            method: 'POST',
                                            data: {
                                                username: '{{ username }}',
                                                slot_name: slot,
                                                day: selectedDay,
                                            },

                                            success: function (response) {
                                                alert(response.message);

                                                for (let i = 0; i < slotIds.length; i++) {
                                                    const names = response[`names${i + 1}`];
                                                    const namesStr = names.join(', ');
                                                    $(`.slot[data-slot='${slotIds[i]}'] .applicants`).text(namesStr);
                                                }
                                            },
                                            error: function () {
                                                alert("취소에 실패했습니다. 다시 시도해주세요.");
                                            }
                                        });
                                
                        }
                    });
                });


        });

    </script>

</head>
<body>
    <div class="container">
        <div >
            <h2 class ="container s2" id="date-title"></h2>
            <h3 class="container s3"> 달력에서 신청할 날짜를 선택하세요 </h3>
            <div id="datepicker" class="container"></div>
            <div class ="board-con" id="board-container">
            </div>
        </div>
    </div>

</body>
</html>
